@model WardrobeMVC.Models.Top

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Top</h4>
</div>
    <div class="row">
        <h2>
            @Html.DisplayFor(modelItem => Model.Name)
        </h2>
    </div>
    <div class="row">
        @*@Html.DisplayFor(modelItem => item.Photo)*@
        <div class="topphoto">
            <img src=@Url.Content(Model.Photo) />
        </div>
    </div>
    <div class="row">
        <p>
            @Html.DisplayNameFor(model => model.Type)
            @Html.DisplayFor(modelItem => Model.Type)
        </p>
    </div>
    <div class="row">
        <p>
            @Html.DisplayNameFor(model => model.Color.ColorName)
            @Html.DisplayFor(modelItem => Model.Color.ColorName)
        </p>
    </div>
    <div class="row">
        <p>
            @Html.DisplayNameFor(model => model.Occasion.OccasionName)
            @Html.DisplayFor(modelItem => Model.Occasion.OccasionName)
        </p>
    </div>
    <div class="row">
        <p>
            @Html.DisplayNameFor(model => model.Season.SeasonName)
            @Html.DisplayFor(modelItem => Model.Season.SeasonName)
        </p>
    </div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TopID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
