@model IEnumerable<WardrobeMVC.Models.Accessory>

@{
    ViewBag.Title = "Index";
}

<h2>Accessories</h2>

<p>
    @Html.ActionLink("Add an Accessory", "Create")
</p>
@foreach (var item in Model)
{
    <div class="row">
            <h2>
                @Html.DisplayFor(modelItem => item.Name)
            </h2>
    </div>
    <div class="row">
            @Html.DisplayFor(modelItem => item.Photo)
            <div class="accessoryphoto">
                <img src=@Url.Content(item.Photo) />
            </div>
    </div>
    <div class="row">
        <p>
            @Html.DisplayNameFor(model => model.Type)
            @Html.DisplayFor(modelItem => item.Type)
        </p>   
    </div>
    <div class="row">
        <p>
            @Html.DisplayNameFor(model => model.Color.ColorName)
            @Html.DisplayFor(modelItem => item.Color.ColorName)
        </p>
    </div>
    <div class="row">
        <p>
            @Html.DisplayNameFor(model => model.Occasion.OccasionName)
            @Html.DisplayFor(modelItem => item.Occasion.OccasionName)
        </p>
    </div>
    <div class="row">
        <p>
            @Html.DisplayNameFor(model => model.Season.SeasonName)
            @Html.DisplayFor(modelItem => item.Season.SeasonName)
        </p>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = item.AccessoryID }) |
        @Html.ActionLink("Details", "Details", new { id = item.AccessoryID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.AccessoryID })
    </p>
}
